<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify successfully</title>
    <style>
        .notification-success {
            border: 2px solid #28a745;
            background-color: #d4edda;
            padding: 20em;
            margin: 0 auto;
            box-sizing: border-box;
            text-align: center;
        }

        .notification-success h2 {
            font-size: 1.5rem;
            color: #28a745;
            margin-top: 0;
        }

        .notification-success p {
            font-size: 1.2rem;
            margin-bottom: 20px;
        }

    </style>
</head>
<body>
<div class="notification-success">
    <h2>Verification Successful</h2>
    <p>Your account has been successfully verified.</p>
</div>
</body>
</html>
