<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verify failed</title>
  <style>
    .notification-error {
      border: 2px solid #dc3545;
      background-color: #f8d7da;
      padding: 20em;
      margin: 0 auto;
      box-sizing: border-box;
      text-align: center;
    }

    .notification-error h2 {
      font-size: 1.5rem;
      color: #dc3545;
      margin-top: 0;
    }

    .notification-error p {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
<div class="notification-error error">
  <h2>Verification Unsuccessful</h2>
  <p>We were unable to verify your account. Please try again later.</p>
</div>
</body>
</html>
